body {
  background-color: #554236;
  color: #f77825;
  padding: 0;
  margin: 0;
  overflow: hidden; }

body, p, ol, ul, td {
  font-family: arial, helvetica, verdana, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #d3ce3d; }

a:visited {
  color: #d3ce3d; }

a:hover {
  color: #60b99a;
  background-color: #000; }

div.field, div.actions {
  margin-bottom: 10px; }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0; }

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff; }

#error_explanation ul li {
  font-size: 12px;
  list-style: square; }

.with_image {
  width: 50%; }

h1 {
  color: #d3ce3d;
  font-size: 64px;
  text-shadow: 2px 3px 0 #17120e;
  text-align: center;
  line-height: 1em; }

#description {
  text-align: center;
  font-size: 24px;
  line-height: 1.5; }

#image_container {
  overflow: hidden;
  text-align: center;
  padding: 50px 0; }
  #image_container img {
    border: 10px solid white;
    width: 80%;
    -webkit-box-shadow: 0 0 30px #17120e;
    -webkit-transform: rotate(-5deg); }

.hide {
  display: none; }

iframe {
  overflow: hidden; }
